<!DOCTYPE html>
<html>
	<head>
		<title>Pesquisar</title>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="static/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="static/js/bootstrap.min.js"></script>
	<body>
		<div class="page-header">
			<h1>Lista de Usuários</h1>
		</div>
		<table  class="table" border="4">
			<tr>
				<td>CPF</td>
				<td>E-mail</td>
				<td>Nome</td>
				<td>Cadastrado</td>
				<td>Bairro</td>
				<td>Cidade</td>
				<td>Estado</td>
				<td>Excluir</td>
				<td>Editar</td>
			</tr>
			{% for usuario in usuarios %}
				<tr>
					<td>{{ usuario.cpf }}</td>
					<td>{{ usuario.email }}</td>
					<td>{{ usuario.nome }}</td>
					<td>{{ usuario.date_created.strftime('%d-%m-%Y %H:%M:%S') }}</td>
					<td>{{ usuario.bairro }}</td>
					<td>{{ usuario.cidade }}</td>
					<td>{{ usuario.estado }}</td>
					<td><center><a href="/excluir/{{ usuario.cpf }}">Remover</a></center></td>
					<td><center><a href="/atualizar/{{ usuario.cpf }}">Alterar</a></center></td>
				</tr>
			{% endfor %}
		</table><br>
		<a href="{{ url_for('home') }}"><input type="button" class="btn btn-primary btn-lg" value="Voltar"></a>
	</body>
</html>
